<div class="main">
    <h1>Зашифруй свое сообщение</h1>

    <form action='/encrypt' method="POST">
        <div class="input-field col s6">
            <input id="message" name="message" type="text" class="validate" required>
            <label for="message">Введите ваше сообщение</label>
            <span class="helper-text" data-error="Введите сообщение" ></span>
        </div>

        <button class="btn btn-primary">Зашифруй</button>

    </form>

</div>
